.story {
  //1st part
  &__pictures {
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;
    grid-column: full-start/col-end 4;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-l) {
      grid-column: 1/ -1;
      grid-row: 5/6;
      padding: 6rem;
    }

    @media only screen and (max-width: $bp-m) {
      grid-row: 6/7;
      padding: 4rem;
    }
  }

  &__img {
    &--1 {
      grid-column: 2/6;
      grid-row: 2/6;
      width: 100%;
      display: block;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

      @media only screen and (max-width: $bp-l) {
        grid-column: 1/5;
        grid-row: 1/-1;
      }
    }

    &--2 {
      grid-column: 4/ -1;
      grid-row: 4/6;
      display: block;
      width: 115%;
      z-index: 10;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);

      @media only screen and (max-width: $bp-l) {
        grid-column: 4/ -1;
        grid-row: 1/-1;
        width: 100%;
      }
    }
  }

  //2nd part
  &__content {
    background-color: $color-grey-light-1;
    display: flex;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @media only screen and (max-width: $bp-l) {
      grid-column: 1 / -1;
      grid-row: 4/5;
    }

    @media only screen and (max-width: $bp-m) {
      grid-row: 5/6;
    }
  }

  &__text {
    font-size: 1.5rem;
  }
}
